/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.home-body{
  background: #8974e8
}

.header-links {
  background: #333333;
}

.header-links ul{
  list-style-type: none;
  padding: 0;
}

.header-links ul a {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding: 10px;
}

.header-links ul a:hover {
  background-color: #555555;
}

.footer-links {
  background: #333333;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul a {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding: 10px;
}

.footer-links ul a:hover {
  background-color: #555555;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  ". personal-photo ."
  "about-section about-section about-section"
  "footer footer footer";
}

.header{
  grid-area: header;
}

.personal-photo{
  grid-area: personal-photo;
  justify-self: center;
  align-self: center;
}

.about-section{
  grid-area: about-section;
  justify-self: center;
}

.about-section h1{
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.about-section h3{
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

.footer{
  grid-area: footer;
}

.image-personal {
  width: 200px;
}

@media screen and (min-width: 768px) {

  .header-links ul{
    display: flex;
  }

  .header-links ul li {
    flex: 1 1 0;
  }

  .footer-links ul{
    display: flex;
  }

  .footer-links ul li {
    flex: 1 1 0;
  }

  .index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "personal-photo about-section about-section"
    "personal-photo about-section about-section"
    "footer footer footer";
  }

}
